body {
  font-family: 'Courier New', cursive;
  background-color: #bf9e9e;
  background-image: url("buffbakerybackground.png");
  background-repeat: repeat;
  background-position: top center;
  background-attachment: fixed;
  background-size: contain; 
  margin: 0;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  cursor: url("bittencookie.png"), auto;

}


.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;     
  justify-content: center;  
  overflow-y: auto; /* Enable scrolling only here */
  text-align: center;
  margin-top: 200px;
  padding: 80px;
  border-radius: 10px;
  width: 100%;
  max-width: 450px;
 
  position: relative;
  background-color: rgba(253, 222, 219, 0.75); 
  
}

h1 {
  font-family:'Times New Roman', Times, serif;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 1px;

}
h2 {
  font-family:'Times New Roman', Times, serif;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 1px;

}
p{
  font-family:'Times New Roman', Times, serif;
  font-weight:bold;
  font-size:20px;
}
button{
  background-color: #4d2323;
  color: #f2e4e4;
  margin: 10px;
  border:none;
  padding: 16px 16px;
  border-radius:10px;
  font-weight:bold;
  transition:background 0.2s ease;
  width:90%;
  max-width: 300px;
  
}
button:hover{
  background-color: #a9815f;
  cursor: url("cookie.png"), pointer;
}

@media (max-width: 768px) {
  body {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
  }
}
body {
  font-family: 'Times New Roman', Times, serif;
  background-color: #bf9e9e;
  background-image: url("buffbakerybackground.png");
  background-repeat: repeat;
  background-position: top center;
  background-attachment: fixed;
  background-size: contain; 
  margin: 0;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  cursor: url("bittencookie.png"), auto;

}


.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;     
  justify-content: center;  
  overflow-y: auto; 
  text-align: center;
  margin-top: 200px;
  padding: 80px;
  border-radius: 10px;
  width: 100%;
  max-width: 450px;
  
  position: relative;
  background-color: rgba(253, 222, 219, 0.75); 
  
}

h1 {
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 1px;

}
p{
  font-family:'Times New Roman', Times, serif;
  font-weight:bold;
  font-size:20px;
}
button{
  background-color: #4d2323;
  color: #f2e4e4;
  margin: 10px;
  border:none;
  padding: 16px 16px;
  border-radius:10px;
  font-weight:bold;
  transition:background 0.2s ease;
  width:90%;
  max-width: 300px;
  
}
button:hover{
  background-color: #a9815f;
  cursor: url("cookie.png"), pointer;
}

@media (max-width: 768px) {
  body {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
  }

}
#ingredients-list {
  text-align: left;
  padding-left: 20px;
  margin-top: 10px;
}

#ingredients-list li {
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.6;
  margin-bottom: 8px;
}




